*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}   

.border {
    border: thin solid white;
}

#TwoDOutliner {
    min-height: 100px;
    min-width: 100px;
    position: absolute;
    display: grid;
    grid-gap: 10px;
    margin: 10px;
}

.TwoD_outline {
    border: thin solid #333;
}
